header {
    background: #BBBBBB;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
    margin-left: 15px;
}

nav a {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #920202;
    text-decoration: underline;
    transition: 0.4s;
}

@media screen and (max-width: 600px){
    .container {
        flex-direction: column;
    }

    nav li {
        margin-left: 5px;
    }
}